/* presets */

body {
    font-family: 'Lato', sans-serif !important;
}
:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --my-bg-color: linear-gradient(to bottom,#009688 0%,#009688 20%,#DBDBD3 20%,#DBDBD3 100%);
}

/* colors */

.my-white {
    background-color: var(--color-white);
}
.my-dark-text {
    color: var(--color-dark-text);
}
.my-dark-grey {
    color: var(--color-dark-grey);
}
.my-text-grey {
    color: var(--color-text-grey);
}
.my-headers {
    color: var(--color-headers);
}
.my-contact-hover {
    background-color: var(--color-contact-hover);
}
.my-light-icons {
    color: var(--color-light-icons);
}
.my-sent-message {
    color: var(--color-sent-message);
}
.my-notification {
    background-color: var(--color-notification);
}
.my-bg-color {
    background: var(--my-bg-color);
}

/* utility */

#app {
    height: 100vh;
    width: 100%;
}
.h-0 {
    height: 0;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bell-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.my-fs {
    font-size: 0.8rem;
}
.contacts-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.date-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8rem;
}
.chat-container {
    background-image: url(../img/mine.jpg);
}
.sent {
    margin: 25px 25px;
    display: flex;
    justify-content: end;
}
.sent-message {
    background-color: var(--color-sent-message);
    padding: 20px;
    padding-right: 8rem;
    border-radius: 15px;
    position: relative;
}
.received {
    margin: 25px 25px;
    display: flex;
}
.received-message {
    background-color: white;
    padding: 20px;
    padding-right: 8rem;
    border-radius: 15px;
    position: relative;
}
.hour-message {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.6rem;
}